* {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(54, 54, 54);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

#body-container {
    width: 100%;
}

.form-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.button-search {
    background: rgb(227, 52, 52);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
}

.input-number {
    background: gray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 2px;
}

.product-container {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    width: 100%;
    background: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 350px;
    background-color: rgb(224, 70, 53);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
}

.container-img {
    display: flex;
}

.img-product {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
    align-items: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.product-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}